body{
height: 100%;
margin: 0px;
padding: 0px;
background: url('skelatal_weave/skelatal_weave.png');}

#logo{
margin: 0px;
padding: 0px;
width: 100px;
height: 100px;}

#pagediv{
margin: 8%;
margin-top: 70px;
padding: 0px;
background: #ffffff;
width:84%;
position: absolute;
box-shadow: 0px 0px 5px #000000}

#sidebardiv{
height: 300px;
width: 200px;
margin-top: -10px;
background: #003366;
margin-left: 7%;
display: block;
position: absolute;}

#sidemenu{
text-align:center;
padding:0px;
margin:0px;
margin-top: 30px;
list-style-type:none;;
}

.link{
text-decoration: none;
color: #ffffff;
transition: 1s;
font-size: 28px;
font-family: "Coming soon", cursive;
line-height: 40px;
display: block;
text-align: center;
padding: 0px;
}

#sidemenu{
margin-top:40px;}

.sideitem{
display:block;
margin: 0px;
padding: 0px;}

.link:hover{
color:#B6E0E4;
background-color: rgba(255, 255, 255, .3);}

#ribbontail {
margin-left: 7%;
padding: 0px;
position: absolute; 
display: table-row;
margin-top: 280px;}

#left, #right {
display: table-cell;
border-top: 50px solid #003366; 
border-bottom: 50px solid transparent; 
height: 0px; 
width: 0px; }

#left{  
border-left: 100px solid #003366; }

#right{ 
border-right: 100px solid #003366; }

#contentdiv{
padding:0px;
margin:0px;
width:70%;
float:right;}

#logo{
width:60%;
margin-left: 20%;
margin-right: 20%;
height: auto;
padding: 0px;
background: #003366;}

h2{
margin-top:30px;
margin-bottom: 0px;
font-size: 56px;
color:#000000;
text-align:center;
font-family: "Raleway", sans-serif;}

h3{
vertical-align:middle;
display: table-cell;
padding: 0px;
line-height: 200px;
color: #000000;
font-family: "Raleway", sans-serif;
font-size: 32px;
margin: 0 auto;}

p{
padding: 30px;
line-height:28px;
color:#000000;
font-family:"Raleway", sans-serif;
font-size:18px;
}

#footer{
height:75px;
width: 100%;
background: #444444;
left:0px;
padding: 0px;
margin: 0px;
overflow:visible;
position: absolute;}

#footercontent{
margin-left: 50px;
margin-top: 10px;}

.footerp{
font-size:18px;
color: #ffffff;
font-family: "Raleway", sans-serif;
margin:0px;
padding: 0px;}

#poems{
}

.poemclass{
list-style-type:none;
}

.poemlink{
line-height: 70px;
text-decoration: none;
color: #000000;
font-size: 30px;
transition: .5s;
font-family: "Raleway", sans-serif;}

.poemlink:hover{
color: #003366;
font-size: 33px;}

.contacticons{
width: 200px;
height: 200px;
margin: 0px;
padding: 0px;
display: table-cell;
vertical-align:middle;}

.catdiv{
display: table;
padding: 0px;
margin: 0px;
vertical-align: middle;}

.cell{
border: 2px solid black;}

#comments{
padding: 0px;
margin-top: -75px;
margin-bottom: 30px;}

#submitbutton{
background: #003366;
color: #ffffff;
border: 2px solid black;
font-size: 24px;
font-family: "Raleway", sans-serif;}

#submitbutton:hover{
background:#ffffff;
color:#000000;
cursor: pointer;}

#submitbutton:active{
box-shadow: 0px 0px 1px 2px;}

.polaroid {
position: relative;
width: 100%;
margin: 30px;}
 
.polaroid img {
transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
-webkit-transform: rotate(-3deg);
display: block;
margin-left: auto;
margin-right: auto;
border: 10px solid #ffffff;
border-bottom: 70px solid #fff;
box-shadow: 0px 0px  1px 3px #777;
width: 40%;}

#aboutmelist{
margin-top:-100px;}
